---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=d7520b124b709e4ab3f255bcf89e5fc4e82550fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1503706498'
      Etag:
      - W/"93f7a063c74dbaf5736b31d7a7180b24"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"swdonovan","id":25035051,"avatar_url":"https://avatars3.githubusercontent.com/u/25035051?v=4","gravatar_id":"","url":"https://api.github.com/users/swdonovan","html_url":"https://github.com/swdonovan","followers_url":"https://api.github.com/users/swdonovan/followers","following_url":"https://api.github.com/users/swdonovan/following{/other_user}","gists_url":"https://api.github.com/users/swdonovan/gists{/gist_id}","starred_url":"https://api.github.com/users/swdonovan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/swdonovan/subscriptions","organizations_url":"https://api.github.com/users/swdonovan/orgs","repos_url":"https://api.github.com/users/swdonovan/repos","events_url":"https://api.github.com/users/swdonovan/events{/privacy}","received_events_url":"https://api.github.com/users/swdonovan/received_events","type":"User","site_admin":false},{"login":"jtruong2","id":25845955,"avatar_url":"https://avatars1.githubusercontent.com/u/25845955?v=4","gravatar_id":"","url":"https://api.github.com/users/jtruong2","html_url":"https://github.com/jtruong2","followers_url":"https://api.github.com/users/jtruong2/followers","following_url":"https://api.github.com/users/jtruong2/following{/other_user}","gists_url":"https://api.github.com/users/jtruong2/gists{/gist_id}","starred_url":"https://api.github.com/users/jtruong2/starred{/owner}{/rep[...]
