---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - W/"d5648a801a752007c3a358340d94e1e1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=75e2f9ad47f87fbde8d0aa667768147107148066&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=75e2f9ad47f87fbde8d0aa667768147107148066&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":95825113,"name":"bike-share","full_name":"DesTodo/bike-share","owner":{"login":"DesTodo","id":20879271,"avatar_url":"https://avatars0.githubusercontent.com/u/20879271?v=4","gravatar_id":"","url":"https://api.github.com/users/DesTodo","html_url":"https://github.com/DesTodo","followers_url":"https://api.github.com/users/DesTodo/followers","following_url":"https://api.github.com/users/DesTodo/following{/other_user}","gists_url":"https://api.github.com/users/DesTodo/gists{/gist_id}","starred_url":"https://api.github.com/users/DesTodo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DesTodo/subscriptions","organizations_url":"https://api.github.com/users/DesTodo/orgs","repos_url":"https://api.github.com/users/DesTodo/repos","events_url":"https://api.github.com/users/DesTodo/events{/privacy}","received_events_url":"https://api.github.com/users/DesTodo/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/DesTodo/bike-share","description":null,"fork":true,"url":"https://api.github.com/repos/DesTodo/bike-share","forks_url":"https://api.github.com/repos/DesTodo/bike-share/forks","keys_url":"https://api.github.com/repos/DesTodo/bike-share/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DesTodo/bike-share/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DesTodo/bike-share/teams","hooks_url":"https://api.github.com/repos/DesTodo/bike-share/hooks","issue_events_url":"https://api.github.com/repos/DesTodo/bike-share/issues/events{/number}","events_url":"https://api.github.com/repos/DesTodo/bike-share/events","assignees_url":"https://api.github.com/repos/DesTodo/bike-share/assignees{/user}","branches_url":"https://api.github.com/repos/DesTodo/bike-share/branches{/branch}","tags_url":"https://api.github.com/repos/DesTodo/bike-share/tags","blobs_url":"https://api.github.com/repos/DesTodo/bike-share/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DesTodo/bike-share/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DesTodo/bike-share/git/refs{/sha}","trees_url":"https://api.github.com/repos/DesTodo/bike-share/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DesTodo/bike-share/statuses/{sha}","languages_url":"https://api.github.com/repos/DesTodo/bike-share/languages","stargazers_url":"https://api.github.com/repos/DesTodo/bike-share/stargazers","contributors_url":"https://api.github.com/repos/DesTodo/bike-share/contributors","subscribers_url":"https://api.github.com/repos/DesTodo/bike-share/subscribers","subscription_url":"https://api.github.com/repos/DesTodo/bike-share/subscription","commits_url":"https://api.github.com/repos/DesTodo/bike-share/commits{/sha}","git_commits_url":"https://api.github.com/repos/DesTodo/bike-share/git/commits{/sha}","comments_url":"https://api.github.com/repos/DesTodo/bike-share/comments{/number}","issue_comment_url":"https://api.github.com/repos/DesTodo/bike-share/issues/comments{/number}","contents_url":"https://api.github.com/repos/DesTodo/bike-share/contents/{+path}","compare_url":"https://api.github.com/repos/DesTodo/bike-share/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DesTodo/bike-share/merges","archive_url":"https://api.github.com/repos/DesTodo/bike-share/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DesTodo/bike-share/downloads","issues_url":"https://api.github.com/repos/DesTodo/bike-share/issues{/number}","pulls_url":"https://api.github.com/repos/DesTodo/bike-share/pulls{/number}","milestones_url":"https://api.github.com/repos/DesTodo/bike-share/milestones{/number}","notifications_url":"https://api.github.com/repos/DesTodo/bike-share/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DesTodo/bike-share/labels{/name}","releases_url":"https://api.github.com/repos/DesTodo/bike-share/releases{/id}","deployments_url":"https://api.github.com/repos/DesTodo/bike-share/deployments","created_at":"2017-06-29T22:25:08Z","updated_at":"2017-06-29T22:34:49Z","pushed_at":"2017-07-06T19:06:58Z","git_url":"git://github.com/DesTodo/bike-share.git","ssh_url":"git@github.com:DesTodo/bike-share.git","clone_url":"https://github.com/DesTodo/bike-share.git","svn_url":"https://github.com/DesTodo/bike-share","homepage":null,"size":16209,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":4,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":92849013,"name":"black_thursday","full_name":"katiekeel/black_thursday","owner":{"login":"katiekeel","id":11282627,"avatar_url":"https://avatars2.githubusercontent.com/u/11282627?v=4","gravatar_id":"","url":"https://api.github.com/users/katiekeel","html_url":"https://github.com/katiekeel","followers_url":"https://api.github.com/users/katiekeel/followers","following_url":"https://api.github.com/users/katiekeel/following{/other_user}","gists_url":"https://api.github.com/users/katiekee[...]
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/bike-share/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1503625867'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 25 Aug 2017 01:18:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/black_thursday/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/active-record-sinatra/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/backend-curriculum-site/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:23 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/battleship/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:23 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/bike_share/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:23 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/blogger/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/bon_appetit-1/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/bootstrap_tutorial/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/career-development-curriculum/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/chisel/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/credit_check/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/exercises/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/gear_up/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/hashcards/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/hello-world/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/homework/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/intro-to-ar/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/job-tracker/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/job-tracker-base/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/job-tracker-base-1/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/jungle_beats/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/little_shop/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/night_writer/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/personal_site/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/pizza-customer/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/portfolios/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 36c5a1a0c5c547c4b9bc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Aug 2017 01:18:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thedanielvogelsang/projects/pulls?access_token=75e2f9ad47f87fbde8d0aa667768147107148066
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1503625867'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
[...]
