.avatar-thumbnail {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.profile-pic{
  align-self: center;
  height: 100px;
  width: 100px;
}

.profile-header {
  text-align: center;
}

.container {

}

.container-dash{

}

.container-dash-content{
  background-color: rgb(188, 238, 254);
  float: left;
  margin: 10px;
  border: 2px solid black;
  padding: 3px;
  height: 500px;
  max-width: 20%;
  word-wrap: break-word;
}

.container-dash-content, p{
  padding-left: 5px; 
}
